*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --dark-color: #333446;
    --second-Bg: #2d2e3bd8;
    --main-color: #08CB00;
    --base-color: crimson;
    --light-color: #ffffff;
    --border-color: gray;
    --font-family: sans-serif;
}
body.dark-mode-switch{
    --dark-color: #ffffff;
    --light-color: #333446;
}
.dark-mode-switch{
    --dark-color: #ffffff;
    --light-color: #333446;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
    overflow-x: hidden;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5px;
}
h1, h2, h3{
    font-family: var(--font-family);
    color: var(--light-color);
    margin-bottom: 1rem;
}

.logo{
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--dark-color);
}

.logo span{
    color: var(--main-color);
}


h2{
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 2.5rem;
    padding-bottom: 10px;
    color: var(--dark-color);
}
h2::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 3px;
    width: 100px;
    transform: translateX(-50%);
    background: var(--main-color);
}
h2 span{
    color: var(--main-color);
    font-weight: 700;
}
p{
    color: var(--dark-color);
    margin-bottom: 1rem;

}
a{
    color: var(--main-color);
    transition: color .3s ease;
}
section{
    padding: 60px 0;
    min-height: 80vh;
}
.btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--dark-color);
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px var(--main-color);
    margin-top: 2rem;
    margin: 1.6rem 1rem;
}
.btn:hover{
    background: var(--light-color);
    color: var(--main-color);
    transform: translateY(-2px);
    box-shadow: 0 0 20px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: var(--light-color);
    padding: 10px 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
body.dark-mode-switch #header{
    background: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
body.dark-mode-switch #home .container{
    color: var(--dark-color);
    background: var(--light-color);
    opacity: 0.9;
    border-radius: 25px;
}
h1{
    color: var(--dark-color);
}
#home .container{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.85);
    margin-top: 5rem;
    transition: transform .4s ease;
}
#home .container:hover{
    transform: rotate(4deg) scale(1.05);
}
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar ul{
    list-style: none;

}
#navbar li{
    display: inline-flex;
    padding: 16px;
    font-size: 20px;
}
#navbar a{
    color: var(--dark-color);
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

#navbar a:hover, #navbar a.active{
    color: var(--main-color);
}
.dark-mode{
    width: 50px;
    height: 50px;
    display: flex;
    background: var(--main-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
}
.dark-mode::before{
    background: var(--light-color);
}
.dark-mode i{
    fill: var(--light-color);
}
.dark-mode i:last-child{
    display: none;
}
.dark-mode-switch .dark-mode i:first-child{
    display: none;
}
.dark-mode-switch .dark-mode i:last-child{
    display: block;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("img_1.jpeg") no-repeat center center/cover;
    padding-top: 80px;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
#home h1{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}
#home h1 span{
    color: var(--main-color);
    font-weight: bold;
}
#home p{
    font-size: 1.7rem;  
}
#home p span{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}
#home::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
#home .container{
    position: relative;
    z-index: 3;
}
#menu-toggle, #close-sidebar{
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
}
#menu-toggle{
    color: var(--dark-color);
    display: none;
}

#close-sidebar{
    display: none;
    color: var(--dark-color);
}
#about .container{
    display: flex;
    align-items: center;
}
#about img{
    max-width: 350px;
    border-radius: 50%;
    margin: 45px;
}
#about a{
    font-size: 25px;

}
#about p{
    font-size: 1.3rem;
}
#albums .album-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 3rem;
}
.album-grid .album-item{
    background: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 3px solid #8f8f96d0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.album-grid .album-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 15px var(--main-color);
}
#songs .album-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px; 
}
#contact h3{
    color: var(--dark-color);
    font-size: 35px;
}
#contact .contact-upper{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
}
.container{
    width: 95%;
    background: var(--main-color);
    box-shadow: 10px 15px 20px rgba(240, 239, 239, 0.852);
    padding: 20px 60px 40px 40px; 
    border-radius: 10px;
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.container:hover{
    transform: translateY(5%);
    transition: all 0.3s ease;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 85%;
    background: var(--border-color);
    width: 4px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.content .left-side .details .text-one, .content .left-side .details .text-two{
    font-size: 16px;
    color: var(--light-color);
}
.content .left-side i{
    font-size: 30px;
    color: var(--base-color);
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.container .content .details{
    margin: 15px;
    text-align: center;
}
.content .right-side .topic-text{
    color: #000;
    font-size: 25px;
    font-weight: bold;
}
.content .right-side p{
    font-size: 18px;
    color: #000;
}
.right-side .input-box{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    margin: 12px 0;
}
.right-side .input-box input, .right-side .input-box textarea{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 8px;
    transition: all .5s ease;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
}
.right-side .input-box input:focus{
    border: 3px solid var(--base-color);
}

.right-side .message-box{
    min-height: 110px;
}
.right-side .button input[type="button"]{
    color: var(--light-color);
    background: var(--base-color);
    padding: 15px 31%;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.right-side .button input[type="button"]:hover{
    background: rgb(179, 85, 104);
    color: var(--dark-color);
}





@media (max-width: 780px){
   .logo{
    font-size: 1.5rem;
   }
    #navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        background: var(--light-color);
    }
    #navbar.active{
        max-height: 550px;
    }
    #navbar ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }
    #navbar ul li{
        margin: 10px 0;
    }
    #menu-toggle{
        display: block;
    }
            #home h1 { font-size: 2.8rem; }
            #home p { font-size: 1.1rem; }
            h2 { font-size: 2rem; }

            #about .container {
                flex-direction: column;
                text-align: center;
            }
            #about .about-image {
                 max-width: 70%;
                 margin-bottom: 20px;
            }
}